@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  min-height: 100vh;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: rgb(45,122,227);
  background: radial-gradient(circle, rgba(45,122,227,1) 0%, rgba(0,0,0,1) 100%) no-repeat;
}

.form-container {
  font-weight: bold;
  color: #fff;

  padding: 20px;

  -webkit-box-shadow: 0px 0px 49px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 49px 6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 49px 6px rgba(0,0,0,0.75);

  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.home-div {
  padding: 10px;

  background-color: #fff;

  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.gallery {
  height: 85vh;
}

.scroll {
  height: 83vh;
  overflow-y: auto;
}

.center_text {
  text-align: center;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

@media (max-width: 576px) {
  .img-box {
    overflow: hidden;
    background-color: grey;
    height: 50vw;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .img-box {
    overflow: hidden;
    background-color: grey;
    height: 30vw;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .img-box {
    overflow: hidden;
    background-color: grey;
    height: 15vw;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .img-box {
    overflow: hidden;
    background-color: grey;
    height: 10vw;
  }
}

@media (min-width: 1200px) {
  .img-box {
    overflow: hidden;
    background-color: grey;
    height: 6vw;
  }
}

.thumbnail {
  margin-top: -1px;
  height: auto;
}

.invalid {
  color: red;
}

.valid {
  color: #00ff00;
}
