@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  min-height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  background: rgb(45,122,227);
  background: radial-gradient(circle, rgba(45,122,227,1) 0%, rgba(0,0,0,1) 100%) no-repeat;
}

.text-center {
  text-align: center;
}

.form-container {
  font-weight: bold;
  color: #fff;

  padding: 20px;
  margin-top: 20vh;


  -webkit-box-shadow: 0px 0px 49px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 49px 6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 49px 6px rgba(0,0,0,0.75);

  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.home-body {
  min-width: 400px;
  padding: 20px;
  margin-top: 4vh;
  height: 800px;

  background-color: #fff;
  -webkit-box-shadow: 0px 0px 49px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 49px 6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 49px 6px rgba(0,0,0,0.75);

  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.nav-pills>li {
  border: 1px solid #007bff;
  border-radius: 4px;
}

.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.upload-div {
  background-color: #fff;
}

.gallery {
  overflow-y: scroll;
}

.gallery .file {
  background-color: #f2f2f2;
  margin: 10px;
  width: 300px;
  height: 300px;
}

.gallery .file a img {
  margin-top: -1px;
}

.gallery .file .text {
  float: left;
  margin-left: -1px;
  padding-top: 10px;
  height: 100px;
  width: 250px;
  text-align: center;
}

.gallery .file .modify {
  float: left;
  margin-right: -1px;
  height: 100px;
  width: 50px;
}

.gallery .file .modify form {
  display: inline-block;
  margin-top: 0px;
}

.gallery .file .modify button {
  height: 50px;
  width: 50px;
  font-size: 20px;
}

.gallery .file img {
  margin-left: -1px;
  width: 300px;
  height: 200px;
}

.gallery .file .pdf {
  text-align: center;
  font-size: 200px;
  width: 300px;
  height: 200px;
}
